# Deploy KDE user configs
---

- name: Deploy konsolerc config
  ansible.builtin.copy:
    src: files/konsolerc
    dest: "/home/{{ user['username'] }}/.config/konsolerc"
    owner: "{{ user['username'] }}"
    group: "{{ user['username'] }}"

- name: Create konsole config dir
  ansible.builtin.file:
    path: /home/rcallicotte/.local/share/konsole/
    owner: "{{ user['username'] }}"
    group: "{{ user['username'] }}"
    state: directory

- name: Deploy konsole profile
  ansible.builtin.copy:
    src: files/green.profile
    dest: "/home/{{ user['username'] }}/.local/share/konsole/green.profile"
    owner: "{{ user['username'] }}"
    group: "{{ user['username'] }}"

- name: Download Oh My Zsh installer
  ansible.builtin.get_url:
    url: >
      https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh
    dest: /tmp/install_ohmyzsh.sh

- name: Install Oh My Zsh
  ansible.builtin.command:
    cmd: sh /tmp/install_ohmyzsh.sh --unattended
    creates: "/home/{{ user['username'] }}/.oh-my-zsh"
  become: true
  become_user: "{{ user['username'] }}"
